<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>
      We received your CV for
      {{job}}
      at
      {{company}}
    </title>
  </head>
  <body>
    <table
      style='background-color: #f2f2f2; width: 100%; margin: 0; padding: 0'
    >
      <tbody>
        <tr>
          <td>
            <table align='center' style='width: 500px; margin: 24px auto 0'>
              <tbody>
                <tr>
                  <td>
                    <table
                      style='
                        min-width: 500px;
                        width: 500px;
                        border-radius: 8px 8px 0 0;
                        background: linear-gradient(
                          219deg,
                          #54151c 0%,
                          #121212 100%
                        );
                      '
                    >
                      <tbody>
                        <tr>
                          <td style='padding: 16px 0 12px 24px'>
                            <img
                              height='55'
                              src='https://ci3.googleusercontent.com/meips/ADKq_NZn7YtgE9poZU7EfStELW1WVexgFrotq7Z73f_1BX4ukOm1xJm29byTfoG0chRJKYVnIXlwngOFvZQtTxb6UvA7KIx4edAfz-zQ5P0bcePXrPW3l5RkuT64e94vkhJHfjXz5xo7KnKxqzOTpvUdLRzymRzoxa_E1knqFkbC00A=s0-d-e1-ft#https://itviec.com/assets/mails/logo-5f3371a704b475a80f27523e1bcfc4853c03bd7e32b8893971074a64d48bdd6c.png'
                              class='CToWUd'
                              data-bit='iit'
                            />
                          </td>
                          <td style='padding: 4px 24px 0 0; text-align: right'>
                            <img
                              height='80'
                              src='https://ci3.googleusercontent.com/meips/ADKq_NZuL5FfPzyV-Xbi7bGIXVXSvMc2Ssv2eJaJWpsLGq7aGzFyxe4SFe5zrtbJ4gGzF19USWSwQ2J3HerpTHefnPAocBazPnqwF4_pmb_-KWyb8OTn77zYTBRu2mVrzovqdtPVsvREniqqMN7xS11j9ajoaZJfl8kkmlXrlyXWLfXxvg09nIIMT1g3QpsuTQ=s0-d-e1-ft#https://itviec.com/assets/mails/robby-subscription-a000c03aa20a8f2397802b9b2addb7974f6352bf61491e0a0fc9c18f08a56b9d.png'
                              class='CToWUd'
                              data-bit='iit'
                            />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table
                      style='
                        max-width: 500px;
                        background-color: #fff !important;
                        border-radius: 0 0 8px 8px;
                        border-spacing: 0;
                      '
                    >
                      <tbody>
                        <tr>
                          <td
                            style='
                              padding: 24px;
                              line-height: 21px;
                              font-size: 14px;
                              font-weight: 400;
                            '
                          >
                            <span>Hi {{username}},</span>
                          </td>
                        </tr>
                        <tr>
                          <td
                            style='
                              padding: 0 24px 16px 24px;
                              line-height: 21px;
                              font-size: 14px;
                              font-weight: 400;
                            '
                          >
                            We have received your application for
                            <strong>{{job}}</strong>
                            at
                            <strong>{{company}}.</strong>
                          </td>
                        </tr>
                        <tr>
                          <td
                            style='
                              padding: 0 24px 8px 24px;
                              line-height: 21px;
                              font-size: 14px;
                              font-weight: 400;
                            '
                          >
                            Your CV is now in our review queue. We will let you
                            know when it is reviewed.
                          </td>
                        </tr>
                        <tr>
                          <td
                            style='
                              padding: 24px 24px 8px 24px;
                              font-size: 14px;
                              font-weight: 400;
                              color: #414042 !important;
                            '
                          >
                            <span>Best regards,</span>
                            <br />
                            <span>The ITviec Team</span>
                          </td>
                        </tr>
                        <tr>
                          <td
                            style='
                              padding: 0 24px 8px 24px;
                              font-size: 12px;
                              font-weight: 400;
                              color: #a6a6a6 !important;
                            '
                          >
                            <span>
                              Please check out our
                              <a
                                style='
                                  color: #085bdd !important;
                                  text-decoration: none;
                                  padding: 10px 0;
                                  font-size: 12px;
                                '
                                href=''
                                target='_blank'
                                data-saferedirecturl='https://www.google.com/url?q=http://im2.itviec.com/ls/click?upn%3Du001.hCetwOD-2BTBM8q6ej9SblAs32UnR-2FCsTC8uoumFRQ9TGrzFv2ZjUzTrQh1bq-2FNDgj9WNY_nwiRr3DoRp7LpEkvPMMSo8r3OOtsfbvY6XeaGzoQ50RxBbmtlhLCsTfWZ67skNRO-2BPYZUYvPTY44LzGX16Lc1XUUCSL7YVbAX4gXarKYs6ikMGyTbL1COXIL5j70rKKpygIIzenc6aW7Rx5SLosvqSiUuGiQgF7Wp3t6h5fByWHASIozzAKKhrbPfygGxX6j8tG1zf-2FjWkch6e2ntq9OM27CJaSkZctBPmuz6TTOmvIehAyzrY0onzc7KEyYiazq36y8JxmiK3VFpGOnK-2BnnhUxtUEOJrHl7G-2Fk5o-2F6mMS3YV5tdfJ0J-2BqF9I9MdLyDF&amp;source=gmail&amp;ust=1747550449697000&amp;usg=AOvVaw3TaGM33pjnhKGeyEj0YdWa'
                              >FAQ</a>
                              if you have questions about the CV review process.
                            </span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>